body{
    margin: 0;
    padding: 0;
}

.nav-cabecalho{
    background-color: lightgreen;
}
.ul-cabecalho{
    margin: 0;
}

.li-cabecalho{
    display: inline-block;
}

.a-cabecalho{
    text-decoration: none;
    color: black;
}